@font-face {
	font-family: "raleway";
	src: url("fonts/Raleway-VariableFont_wght.ttf");
}
#bloc-page {
	max-width: 1440px;
	max-height: 1884px;
	margin: auto;
}

#blox-page, h1, h2, h3, h4, p, a {
	font-family: "raleway";
}

/*Menu top*/

header {
	display: flex;
	justify-content: space-between;
	padding-top: 1.5em;
}
#size-logo {
	width: 100px;
}
#menu-top {
	display: flex;
	flex-direction: row;
	width: 480px;
	margin-right: 75px;
}
.menu-tab {
	display: block;
	justify-content: center;
	align-items: center;
	max-width: 165px;
}
.text-menu-tab {
	color: #353535;
	text-decoration: none;
	padding: 1.4em 1.5em 1.4em 1.5em;
	font-size: 1.1em;
}
.menu-tab a {
	border-top: 5px solid #0065fc00;
}
.text-menu-tab.sign {
	color: #0065fc;
}
.menu-tab a:hover {
	color: #0065fc;
	border-top: 5px solid #0065fc;
}

/*Shearsh bloc*/



/*result bloc*/

.ad-lodging {
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	max-width: 250px;
	max-height: 200px;
	box-shadow: 5px 2px 5px #9b9b9b;
}
.ad-lodging img {
	width: 240px;
	height: 120px;
	border-radius: 10px;
	border: 5px solid #ffffff;
}
.ad-lodging-popular {
	display: flex;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	max-width: 350px;
	max-height: 150px;
	box-shadow: 5px 2px 5px #9b9b9b;
}
.ad-lodging-popular img {
	width: 128px;
	height: 135px;
	padding-right: 50px;
	max-width: 120px;
	border-radius: 10px;
}

#result-filter {
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: auto;
	height: auto;
	border-radius: 10px;
	margin: 20px 20px 20px 20px;
	max-width: 880px;
	max-height: 630px;
}

#result-filter h2 {
	/*occupe une ligne ? */
	width: 100%;
	margin: 5%;
	margin-bottom: 5px;
}

#lodging {
	display: flex;
	flex-wrap: wrap;
}

aside {
	margin: 20px 20px 20px 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	max-width: 420px;
	max-height: 630px;
}

h2 i {
	text-align: right;
}
#bottom-menu {
	display: flex;
	background-color: #f2f2f2;
	justify-content: flex-start;
	flex-wrap: wrap;
	border-radius: 10px;
}
.content-bottom {
	padding-right: 200px;
}
.fas.fa-money-bill-wave-alt {
	color: blue;
}
