@font-face {
	font-family: "raleway";
	src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body {
	margin: 0%;
}
#bloc-page {
	max-width: 1440px;
	max-height: 1884px;
	margin: auto;
}

#blox-page,
h1,
h2,
h3,
h4,
p,
input,
a {
	font-family: "raleway";
}

/*Menu top*/

header {
	display: flex;
	justify-content: space-between;
	padding-top: 2.3em;
}
#size-logo {
	width: 100px;
}
#menu-top {
	display: flex;
	width: 480px;
	margin-right: 75px;
}
.menu-tab {
	display: block;
	max-width: 165px;
}
.text-menu-tab {
	color: #353535;
	text-decoration: none;
	padding: 2.1em 1.5em 2.1em 1.5em;
	font-size: 1em;
	font-weight: bold;
}
.menu-tab a {
	border-top: 5px solid #0065fc00;
}
.text-menu-tab.sign {
	color: #0065fc;
}
.menu-tab a:hover {
	color: #0065fc;
	border-top: 5px solid #0065fc;
}

/*Search bloc*/

filter,
h2 {
	margin-top: 1.5em;
	margin-bottom: 5px;
	font-size: 1.4em;
}
filter,
h3 {
	margin-top: 5px;
	font-weight: normal;
	font-size: 1em;
}
.fas.fa-map-marker-alt {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	background-color: #f2f2f2;
	width: 50px;
	height: 50px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

#search-bloc {
	display: flex;
}
#ville {
	width: 235px;
	border: 1px solid #f2f2f2;
	font-size: 1.2em;
	font-weight: 600;
	padding: 0em 0em 0em 1em;
}
#search-button {
	background-color: #0065fc;
	border: 1px solid #0065fc;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
}
#filter-key {
	display: flex;
	flex-wrap: wrap;
}
#filter-key p:nth-child(1) {
	padding-right: 2em;
}
#filter-key p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1.2em;
	margin: 0em;
}


.filter-button {
	display: flex;
	margin: 2em 2em 2em 2em;
	border: 2px solid #c0c0c0;
	border-radius: 30px;
}
.fas.key-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065fc;
	width: 50px;
	height: 50px;
	background-color: #DEEBFF;
	border-radius: 50px;
	font-size: 1.3em;
}
.filter-button p {
	padding: 0em 1em 0em 1em;
}
#info-filter {
	display: flex;
}
.fas.fa-info.info-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border: 2px solid #c0c0c0;
	border-radius: 15px;
	color: #0065fc;
	font-size: 0.8em;
}
#info-filter p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	margin: 0em 1em;
}

/*result bloc*/

.ad-lodging {
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	max-width: 250px;
	max-height: 200px;
	box-shadow: 5px 2px 5px #9b9b9b;
}
.ad-lodging img {
	width: 240px;
	height: 120px;
	border-radius: 10px;
	border: 5px solid #ffffff;
	object-fit: cover;
}
.ad-lodging-popular {
	display: flex;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	max-width: 350px;
	max-height: 150px;
	box-shadow: 5px 2px 5px #9b9b9b;
}
.ad-lodging-popular img {
	height: 135px;
	max-width: 120px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#result-filter {
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: auto;
	height: auto;
	border-radius: 10px;
	margin: 20px 20px 20px 20px;
	max-width: 880px;
}

#result-filter h2 {
	/*occupe une ligne ? */
	width: 100%;
	margin: 5%;
	margin-bottom: 5px;
}

#lodging {
	display: flex;
	flex-wrap: wrap;
}

aside {
	margin: 20px 20px 20px 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	max-width: 420px;
	max-height: 630px;
}

h2 i {
	text-align: right;
}
#bottom-menu {
	display: flex;
	background-color: #f2f2f2;
	justify-content: flex-start;
	flex-wrap: wrap;
	border-radius: 10px;
}
.content-bottom {
	padding-right: 200px;
}

